body{
    background-color: rgb(123, 200, 215);
}

header{
    /* height: 270px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(57, 173, 202);
    /* background-size: cover;
    background-position-y: center; */
}

footer{
    position: absolute;
    height: 170px;
    right: 0;
    left: 0;
    clear:both;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(71, 78, 80);
    padding: 0px 40px 0px 40px;
    border-top: dashed white;
}

#body_content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#menu{
    width: 30%;
    background: rgb(63, 161, 150);
    background-size: cover;
    align-content: center;
    align-items: center;
}
ul{
    list-style: none;
    padding: 0%;
}
#menu>ul>li{
    padding: 20px 0px 20px 50px;
    font-size: 30px;

}
li>a {
    color: black;
    text-decoration: none;
}
#contents{
    padding: 30px;
    width: 70%;
    text-align: justify;

}
#menu>ul>li, h1, h2, h3{
    font-family: "Bebas Neue", sans-serif;
}
h1{
    padding: 80px 0px 0px 100px;
    font-size: 80px;
}
#catamaran{
    padding: 0px 100px 0px 0px;
    margin-top: 50px;
    height: 250px;
}

tr>td:first-child{
    text-align: end;
    padding-right: 20px;
}

#map{
    border: 2px dashed;
    display: block;
    position: relative;
    float: right;
    clear: both;
    margin-left: 20px;
    width: 50%;

}

#button{
    width: 200px;
    background-color: rgb(0, 201, 201);
    border: solid 2px blue;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
}

#exit{
    border: none;
    background: none;
    text-align: start;

}