
table{
    border: 4px dashed;
    background-color: rgb(255, 223, 81);
    margin-bottom: 30px;
}
td{
    padding: 15px 20px 15px 20px;
    text-align: center;
}
select{
    width: 100%;
    text-align: center;
}

label{
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
}