#container_boards{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: dotted 5px white;
    background-color: rgb(164, 241, 255);
    align-content: center;
    justify-content: space-around;
}

.board{
    border: 4px dashed;
    background-color: rgb(255, 223, 81);
    text-align: center;
    width: max-content;
    margin: 20px;
}
.board:nth-child(even){
    background-color: rgb(255, 101, 81);
}
.board:nth-child(even)>h2{
    background-color: rgb(209, 35, 35);
}
.board>img{
    width: 200px;
    background-color: white;
    border: solid 1px;
    margin: 20px 10px 10px 10px;
}
.board>h2{
    border-bottom: dashed 4px;
    border-top: dashed 4px;
    background-color: rgb(209, 177, 35);
}
.board p{
    text-align: end;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    margin: 0px;
}
